// colors
$main-color: #689038;
$green-1: #344e41;
$green-2: #405c45;
$green-3: #588157;
$green-4: #a3b18a;
$white: #ffffff;


// size
$tiny: 1.5rem;
$small: 2rem;
$large: 6.25em;
$huge: 100%;

// border
$border: 1px solid $green-3;

// Breakpoints
$tablet: 768px;
$mobile: 600px;