/* NAV_START */

header h1{
    width: 13em;
    font-family: 'Kalam', cursive;
    color: #344e41;
    white-space: nowrap;
    margin: 10px auto;
    position: relative;
    overflow:hidden;
    animation: typing 4s steps(24, end); 
  }
  @keyframes typing {
    from { width: 0 }
    to { width:13em }
  } 

.box-nav {
  background-color: #689038;
  width: 40em;
  height: 6em;
  /* margin: 0 auto;
  display: grid;
  grid-template-columns: 600px 6em;
  grid-template-rows: 100%; */
  border-radius: 1em;
}
.box-nav nav {
  position: relative;
  width: 40em;
  height: 3.13em;
  top: 1.3em;
  background-color: #689038;
}
.box-nav nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all 0.5s ease;
  border-radius: 8px;
}
.box-nav nav a {
  margin-top: 10px;
  width: 5em;
  font-size: 1.6rem;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}
.box-nav nav .start-home, .box-nav nav a:nth-child(1):hover ~ .animation {
  width: 7em;
  transform: translateX(0.1em);
  background-color: #344e41;
}
.box-nav nav .start-about, .box-nav nav a:nth-child(2):hover ~ .animation {
  width: 7em;
  transform: translateX(8.8em);
  background-color: #405c45;
}
.box-nav nav .start-kontakt, .box-nav nav a:nth-child(3):hover ~ .animation {
  width: 7em;
  transform: translateX(17em);
  background-color: #588157;
}
.box-nav nav .start-presse, .box-nav nav a:nth-child(4):hover ~ .animation {
  width: 7em;
  transform: translateX(25em);
  background-color: #a3b18a;
}
.box-nav img {
  margin: -2em 0 0 34em;
  animation: perspect 4s infinite linear;
}
@keyframes perspect {
  0% {
    transform: perspective(300px) rotateY(0deg);
  }
  25% {
    transform: perspective(300px) rotateY(90deg);
  }
  50% {
    transform: perspective(300px) rotateY(180deg);
  }
  75% {
    transform: perspective(300px) rotateY(270deg);
  }
  100% {
    transform: perspective(300px) rotateY(360deg);
  }
}
/* NAV_END */


/* SLIDER_START */
.cssSlider {
  overflow-x: hidden;
}

#slide02:checked ~ .sliderElements {
  left: -100%;
}

#slide03:checked ~ .sliderElements {
  left: -200%;
}

#slide04:checked ~ .sliderElements {
  left: -300%;
}

.sliderElements {
  list-style: none;
  position: relative;
  left: 0;
  width: 400%;
  margin-bottom: .8em;
  padding: 0;
  transition: left .8s ease-in-out;
}

.sliderElements:after {
  content: ".";
  display: block;
  height: .1px;
  clear: both;
  visibility: hidden;
  font-size: 0;
  overflow: hidden;
}

.sliderElements li {
  float: left;
  width: 25%;
  position: relative;
}



/* Bildunterschrift auf dem Bild positionieren */
.sliderElements figcaption {
  display: block;
  width: 60%;
  margin: 1em auto;
  color: #fff;
  font-size: 1.5rem;
  /* position: absolute; */
  text-align: center;
  bottom: 1em;
  padding: 1em;
  background: #689038;
}

/* Bilder responsive */
.sliderElements img {
  width: 70%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* inputs aus dem Blickfeld schieben */
.cssSlider input {
  position: absolute;
  left: -99999px;
}

/* mittige Ausrichtung der Controls - funktioniert im Zusammenspiel mit inline-block */
.sliderControls {
  text-align: center;
}

/* Controls nebeneinander bringen */
.sliderControls li {
  display: inline-block;
}

/* Controls auf einheitliche Maße bringen und die Ecken abrunden */
.sliderControls label {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  display: block;
  cursor: pointer;
  background: #68B022;
  color: #68B022;
}

/* Attributselektor und indirekter Nachfahrkombinator zum ansteuern der labels */
.sliderControls label:hover,
#slide01:checked ~ .sliderControls label[for="slide01"],
#slide02:checked ~ .sliderControls label[for="slide02"],
#slide03:checked ~ .sliderControls label[for="slide03"],
#slide04:checked ~ .sliderControls label[for="slide04"] {
  background: #ddd;
  color: #ddd;
}
/* SLIDER_END */


.container-2-presse {
  margin-top: 2em;
}
.container-2-presse div img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}
.container-2-presse div h2 {
  color: #689038;
  margin-bottom: 20px;
}
.container-2-presse div p {
  margin-bottom: 2em;
  line-height: 1.5;
  font-size: 1.5rem;
}
.container-2-presse div button {
  background-color: #588157;
  width: 7em;
  height: 3em;
  margin-bottom: 20px;
  border-radius: 4px;
  font-size: 1.5rem;
  transition-duration: 1s;
}
.container-2-presse div button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  font-size: 2rem;
}
.container-2-presse div button a {
  text-decoration: none;
  color: #ffffff;
}

@media only screen and (min-width: 768px) {
  .box-nav {
    background-color: #689038;
    width: 80em;
    height: 6em;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 600px 6em;
    grid-template-rows: 100%;
    border-radius: 1em;
  }
  .box-nav nav {
    position: relative;
    width: 60em;
    height: 3.13em;
    top: 1em;
    background-color: #689038;
  }
  .box-nav nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all 0.5s ease;
    border-radius: 8px;
  }
  .box-nav nav a {
    margin-top: 10px;
    width: 5em;
    font-size: 2rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
  }
  .box-nav nav .start-home, .box-nav nav a:nth-child(1):hover ~ .animation {
    width: 10em;
    transform: translateX(0.1em);
    background-color: #344e41;
  }
  .box-nav nav .start-about, .box-nav nav a:nth-child(2):hover ~ .animation {
    width: 10em;
    transform: translateX(10.2em);
    background-color: #405c45;
  }
  .box-nav nav .start-kontakt, .box-nav nav a:nth-child(3):hover ~ .animation {
    width: 10em;
    transform: translateX(20.6em);
    background-color: #588157;
  }
  .box-nav nav .start-presse, .box-nav nav a:nth-child(4):hover ~ .animation {
    width: 10em;
    transform: translateX(30.6em);
    background-color: #a3b18a;
  }
  .box-nav img {
    margin: 2em 0 0 35em;
    animation: perspect 4s infinite linear;
  }
  @keyframes perspect {
    0% {
      transform: perspective(300px) rotateY(0deg);
    }
    25% {
      transform: perspective(300px) rotateY(90deg);
    }
    50% {
      transform: perspective(300px) rotateY(180deg);
    }
    75% {
      transform: perspective(300px) rotateY(270deg);
    }
    100% {
      transform: perspective(300px) rotateY(360deg);
    }
  }
}

@media only screen and (min-width: 768px) {

.sliderElements figcaption {
  font-size: 2rem;
}

  .sliderElements img {
    width: 50%;
  }
  .container-2-presse {
    display: flex;
    margin: 0 auto;
    gap: 30px;
    width: 70%;
  }
  .container-2-presse img {
    flex-basis: 20%;
    margin-top: 2em;
  }
  .container-2-presse h2 {
    font-size: 2rem;
  }
  .container-2-presse p {
    flex-basis: 80%;
  }
}

.podcast button {
  background-color: #588157;
  width: 7em;
  height: 3em;
  margin-bottom: 20px;
  border-radius: 4px;
  font-size: 1.5rem;
}

.podcast button a{
  text-decoration: none;
  color: #ffffff;
}

@media only screen and (min-width: 768px) {

  .h2-table{
    text-align: center;
    font-size: 1.5rem;
    color:#689038;
  }

  .podcast{
    display: flex;
    justify-content: center;
  }

  .podcast table{
    width: 60%;
    border: 1px solid black;
    border-collapse: collapse;
  }

  .podcast td{
    border: 1px solid black;
  }

  .podcast td:hover{
    background: rgba(0,0,0,0.19);
  }

  .podcast td h2{
    margin-left: 1em;
  }

  .podcast td button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
  }
}
/* PADCAST */


/* FOOTER */
footer {
  padding-top: 2em;
  color: #ffffff;
  background: linear-gradient(-45deg, #344e41, #588157, #a3b18a, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
}
footer p {
  line-height: 1.4em;
  margin-bottom: 2em;
  font-size: 1.5rem;
}
footer .container-5 a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  margin: 1em 0;
  text-align: center;
}
footer .container-5 h2 {
  text-align: center;
}
footer .container-5 p {
  line-height: 1.4em;
}
footer .container-5 .container-5-1 {
  text-align: center;
}
footer .container-5 .container-5-1 p {
  display: inline;
}
footer .container-5 .container-5-1 i {
  margin: 1em 0;
}
footer .container-5-2 {
  text-align: center;
}
footer .container-5-2 a {
  color: #ffffff;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@media only screen and (min-width: 768px) {
  footer {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: 300px 70px;
    font-size: 1.3rem;
    padding-top: 2em;
    color: #ffffff;
    background: linear-gradient(-45deg, #344e41, #588157, #a3b18a, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }
  footer .container-5 a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    margin: 1em 0;
    text-align: center;
    font-size: 1.5rem;
  }
  footer .container-5 h2 {
    text-align: center;
  }
  footer .container-5 p {
    line-height: 1.4em;
  }
  footer .container-5 .container-5-1 {
    text-align: center;
  }
  footer .container-5 .container-5-1 p {
    display: inline;
  }
  footer .container-5 .container-5-1 i {
    margin: 1em 0;
  }
  footer .container-5-2 {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
  }
  footer .container-5-2 a {
    color: #ffffff;
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
/* FOOTER_END */