* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
}

.box-nav {
  width: 1100px;
  height: 6.25em;
  background-color: #689038;
  grid-template-rows: 100%;
  grid-template-columns: 600px 6.25em;
  margin: 0 auto;
  display: grid;
}

.box-nav nav {
  width: 420px;
  height: 50px;
  background-color: #689038;
  position: relative;
  top: 25px;
}

.box-nav nav .animation {
  height: 100%;
  z-index: 0;
  border-radius: 8px;
  transition: all .5s;
  position: absolute;
  top: 0;
}

.box-nav nav a {
  width: 100px;
  z-index: 1;
  text-align: center;
  color: #fff;
  cursor: pointer;
  margin-top: 15px;
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.box-nav nav .start-home, .box-nav nav a:nth-child(1):hover ~ .animation {
  width: 6.25em;
  background-color: #344e41;
  transform: translateX(0);
}

.box-nav nav .start-about, .box-nav nav a:nth-child(2):hover ~ .animation {
  width: 6.25em;
  background-color: #405c45;
  transform: translateX(110px);
}

.box-nav nav .start-kontakt, .box-nav nav a:nth-child(3):hover ~ .animation {
  width: 6.25em;
  background-color: #588157;
  transform: translateX(210px);
}

.box-nav nav .start-projekt, .box-nav nav a:nth-child(4):hover ~ .animation {
  width: 6.25em;
  background-color: #a3b18a;
  transform: translateX(310px);
}

.box-nav img {
  margin: 30px 0 0 400px;
}

footer {
  color: #fff;
  background: linear-gradient(-45deg, #344e41, #588157, #a3b18a, #23d5ab) 0 0 / 400% 400%;
  grid-template-rows: 300px 70px;
  grid-template-columns: repeat(3, 350px);
  justify-content: space-around;
  padding-top: 2em;
  font-size: 1.3rem;
  animation: 15s infinite gradient;
  display: grid;
}

footer .container-5 a {
  color: #fff;
  text-align: center;
  margin: 1em 0;
  text-decoration: none;
  display: block;
}

footer .container-5 h2 {
  text-align: center;
}

footer .container-5 p {
  line-height: 1.4em;
}

footer .container-5 .container-5-1 {
  text-align: center;
}

footer .container-5 .container-5-1 p {
  display: inline;
}

footer .container-5 .container-5-1 i {
  margin: 1em 0;
}

footer .container-5-2 {
  text-align: center;
  grid-column: 1 / 4;
}

footer .container-5-2 a {
  color: #fff;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }

  50% {
    background-position: 100%;
  }

  100% {
    background-position: 0%;
  }
}

main {
  width: 70%;
  max-height: 200vh;
  margin: 0 auto;
}

p {
  line-height: 1.5rem;
}

.section-2 {
  height: 230px;
  background-color: #a3b18a;
  border: 1px solid #588157;
  flex-direction: column;
  justify-content: center;
  margin-top: 2em;
  display: flex;
}

.accordion:hover .accordion-content {
  max-height: 300px;
}

.section-3 {
  width: 100%;
  height: 300px;
  background-image: url("pic9.d5c5ea08.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-3 .accordion-content {
  max-height: 0;
  width: 130%;
  height: 100%;
  justify-content: center;
  align-items: center;
  transition: max-height 1s;
  display: flex;
  overflow: hidden;
}

.section-3 .accordion-toggle {
  content: "";
  text-align: center;
  border-radius: 3px;
  margin: 0 0 10px;
  padding: 10px;
  text-decoration: none;
  display: block;
}

.section-4 p {
  color: #344e41;
  max-width: 400px;
  text-align: center;
  font-weight: bold;
  animation: 5s linear forwards scale;
  transform: scale(.6);
}

.section-4 p span {
  opacity: 0;
  filter: blur(4px);
}

.section-4 p span:nth-child(1) {
  animation: .8s linear .1s forwards fade-in;
}

.section-4 p span:nth-child(2) {
  animation: .8s linear .2s forwards fade-in;
}

.section-4 p span:nth-child(3) {
  animation: .8s linear .3s forwards fade-in;
}

.section-4 p span:nth-child(4) {
  animation: .8s linear .4s forwards fade-in;
}

.section-4 p span:nth-child(5) {
  animation: .8s linear .5s forwards fade-in;
}

.section-4 p span:nth-child(6) {
  animation: .8s linear .6s forwards fade-in;
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur();
  }
}

.section-4 ul {
  line-height: 2rem;
  list-style-type: circle;
}

/*# sourceMappingURL=main.de737628.css.map */
